.container {
    border: 5px solid darkorange;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.box {
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    flex-basis: 100px;
}

.red {
    background-color: red;
    order: 1;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
    order: 2;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.violet {
    background-color: violet;
}
