.container {
    width: 50vw;
    height: 50vh;
    background-color: antiquewhite;
    border: dashed blue 5px;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.box {
    height: 25%;
    border: solid black 5px;
    padding: 10px;
    margin: 0px;
}

.div {
    background-color: red;
}

.span {
    background-color: green;
}

.p {
    background-color: blue;
}

.img {
    background-color: yellow;
}

.another-img {
    margin-top: 10px;
}
