p {
    color: white;
    width: 200px;
    height: 200px;
}

.red-box {
    background-color: red;
    display: inline-block;
}

.green-box {
    background-color: green;
    display: inline-block;
}

.blue-box {
    background-color: blue;
    display: inline-block;
}
